body {
    margin: auto;
    padding: 0;
    overflow: auto;
    width: 98vw;
    font-family: 'Yuji Boku', serif;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: beige;
}

nav {
    font-size: 20px;
    display: inline;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-left: 5px;
}

#left {
    float: left;
}

#right {
    float: right;
}

h1 {
    text-align: center;
    color: aliceblue;
}
.container {
    margin: 10px;
}

form {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
}

/* Adjusting button display */
form button {
    display: inline-block;
    font-size: 15px;
}


p {
    font-size: 25px;
    font-style: normal;
}


#forecast {
    margin-top: 250px;
}

#advice {
    margin-top: 25px;
    text-align: center;
    font-size: 35px;
    color: aliceblue;
    text-shadow: 1px 1px rgb(0, 222, 238);

}

h4 {
    font-size: 22px;
    margin-top: 150px;
}
