body {
    margin: auto;
    padding: 0;
    overflow: auto;
    height: 100vh;
    width: 100%;
    font-family: 'Yuji Boku', serif;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #310d49;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

nav div {
    display: inline;
    font-size: 20px;
}

#profile-img, #logo-img {
    height: 50px;

}

nav a {
    color: beige;
    margin-left: 10px;
}